@font-face{
  font-family: 'Farmhouse';
  src:url('./assets/fonts/Farmhouse.otf')
}

body{
  min-height: 100vh;
  background-image: url('./assets/images/clouds-background.svg');
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
}

#main {
  padding: 0;
}

#cover{
  max-height: 200px;
  max-width: 100%;
}

.title{
  font-family: Farmhouse;
}

img {
  object-fit: cover;
}
